<body>
<h2>Contact request from www.thisissheffield.info</h2>
<p>Name: <%=@contact_request.name%></p>
<p>Email: <%=@contact_request.email%></p>
<p>Phone: <%=@contact_request.phone%></p>
<p>Message: <%=@contact_request.message%></p>
</body>