<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title><%= @title %></title>
  <%= javascript_include_tag "prototype", "effects", "controls", "admin", "dragdrop", "misc_functions" %>
  <%= stylesheet_link_tag 'admin'%>
</head>
<body>
<p style="color:green;"><%= flash[:notice] %></p>
<%= @content_for_layout %>
</body>
</html>